<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Curso Jasper Report</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
</head>
<body>
    <h1>Bem vindo ao curso!!!</h1>
    <br>
    <h2>Relatório 01</h2>
    <a href="/relatorio/pdf/jr01?code=02&action=v">Abrir relatório</a>
    <a href="/relatorio/pdf/jr01?code=02&action=d">Baixar relatório</a>
    <hr>
    <br>
    <div>
        <h2>Relatório 09</h2>
        <form th:action="@{/relatorio/pdf/jr09/09}">
            <select th:name="nivel">
                <option value="">Selecione o nível</option>
                <option th:each="nivel : ${niveis}" th:value="${nivel}" th:text="${nivel}"></option>
            </select>
            <select th:name="uf">
                <option value="">Selecione a UF</option>
                <option th:each="uf : ${ufs}" th:value="${uf}" th:text="${uf}"></option>
            </select>
            <button type="submit">Abrir</button>
        </form>
    </div>
    <hr>
    <br>
    <h2>Relatório 10</h2>
    <a href="/relatorio/pdf/jr01?code=10&action=v">Abrir relatório</a>
    <a href="/relatorio/pdf/jr01?code=10&action=d">Baixar relatório</a>
    <hr>
    <br>
    <div>
        <h2>Relatório 19</h2>
        <form th:action="@{buscar/funcionarios/treinamento}">
            <input type="text" th:name="nome">
            <button type="submit">Abrir</button>
        </form>
        <br>
        <table>
            <thead>
                <th>Nome do funcionario</th>
                <th>Emitir Certificado</th>
            </thead>
            <tbody>
                <tr th:each="f : ${funcionarios}">
                    <td th:text="${f.get('nome')}">nome</td>
                    <td>
                        <a th:href="@{/relatorio/pdf/jr19/19(idf=${f.get('id')})}">PDF</a>
                        |
                        <a th:href="@{/relatorio/html/jr19/19(idf=${f.get('id')})}">HTML</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>